/* 
// Online Responsive Resume
// Made with â¤ by @Pawan_Mall
// http://www.pawanmall.net 
*/

* { margin: 0; padding: 0; }

body { 
    background: #f2f2f2; 
    font-size: 62.5%; 
    padding: 10px; 
}
.myResume-Contact-Info h1 { 
    font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif; 
    margin-bottom: 20px;
    font-size: 40px; 
}
.myResume-Contact-Info > h3 { 
    font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif; 
    color: #484848; 
    margin-bottom: 10px; 
    text-decoration: underline; 
}
.myResume-Contact-Info > h6 { 
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif; 
    color: #777; 
    font-weight: normal; 
    font-size: 1em; 
}

.myResume{
    background: #fff; 
    width:80%;
    font-family: "Balthazar", "Droid Serif", serif; 
    color: #565656; 
    font-size: 1.8em; 
    line-height: 1.4em; 
    margin: 3% auto; 
    padding: 10px 0px 35px 80px; 
    //padding: 35px;
    text-shadow: 1px 1px 10px #CCC;
}
.myResume-Contact-Info{
    width:50%;
    margin-top: 50px; 
    margin-bottom: 30px;
    margin-right:100px;
    float:left;
}
.clear{
    clear:both;
}
.myResume-Profile-Pic{
    width:100%;
    margin:40px auto;
}
.myResume-Profile-Pic img{
    width:25%;
    height:auto;  
    /*border-radius: 3px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    padding: 5px;
}
.myResume-Profile-Intro{
    width:88.5%;
    margin:10 px auto;
    text-align:justify;
    margin-top:50px;
}
.myResume-Skills{
    width:88.5%;
    margin:10 px auto;
    text-align:justify;
    margin-top:50px;
}

.myResume-Education{ 
    width:88.5%;
    margin-top:50px;
}
.myResume-Education > ul > li {
    list-style-type: circle; 
}
.myResume-Experience{
    width:88.5%;
    margin-top:50px;
}
.myResume-Experience > ul > li {
    list-style-type: circle; 
}

h1.title{
    text-transform: uppercase;
    font-size: 150%;
    background-color:#00BFFF;
    padding:10px 0px 10px 100px;
      -radius:0px 50px 50px 0px;
    width:100%;
    margin-bottom:10px;
    color:#fff;
    /*text-shadow: 2px 2px 8px #000;*/
    position:relative;
    left:-85px;
}

.myResume-Skills-left { 
    display: block; 
    float: left; 
    padding-bottom:20px;
    margin-left:30px;
}

.myResume-Skills-right { 
    display: block; 
    float: left;
    margin-left:30px;
}


ul.myResume-Skills-left,ul.myResume-Skills-right { 
    display: block; 
}
ul.myResume-Skills-left > li { 
    padding-left: 10px; 
    list-style-type: circle; 
    vertical-align: top; 
    font-family: "Balthazar", "Droid Serif", serif; 
}
ul.myResume-Skills-right > li { 
    padding-left: 10px; 
    list-style-type: circle; 
    vertical-align: top; 
    font-family: "Balthazar", "Droid Serif", serif; 
}
ul.myResume-Skills-left > li:first-child {
    list-style-type: none;  
    font-weight:bolder;
    font-size:20px;
    text-decoration:underline;
}
ul.myResume-Skills-right > li:first-child { 
    list-style-type: none;  
    font-weight:bolder; 
    font-size:20px;
    text-decoration:underline;
}

@media only screen and (max-width: 740px) {
    .myResume{
        width:90%;
        font-family: "Balthazar", "Droid Serif", serif; 
        color: #565656; 
        padding: 10px;
    }
    .myResume-Contact-Info h1{
        font-size:30px;
        padding-left:10%;
    }
    .myResume-Contact-Info > h3 { 
        font-size:14px;
        padding-left:10%;
    }
    .myResume-Contact-Info > h6 { 
        font-size:13px;
        padding-left:10%;
    }
    .myResume-Contact-Info {
        width:40%;
        text-align:center;
    }
    .myResume-Profile-Pic{
        width:60%;
        margin-right:5%;

    }
    .myResume-Profile-Pic img{
        width:45%; 
        /*float:right;*/  
    }

    h1.title{
        font-size: 25px;
        background-color:#00BFFF;
        padding:5px 0px 5px 0px;
        border-radius:0px;
        width:auto;
        margin-bottom:10px;
        position:relative;
        left:-35px;
        text-align:center;  
    }
    .myResume-Profile-Intro{
        width:90%;  
        text-align:justify;
        font-size: 20px;
        padding-left:18px;  
    }
    .myResume-Skills{
        width:90%;
        font-size: 15px;
        padding-left:18px;      
    }
    .myResume-Education{ 
        width:90%;
        font-size: 18px;
        padding-left:18px;          
    }  
    .myResume-Experience{
        width:90%;
        font-size: 18px;
        padding-left:18px;              
    }           
}

@media only screen and (max-width: 570px) {
    .myResume{
        width:90%;
        font-family: "Balthazar", "Droid Serif", serif; 
        color: #565656; 
        padding: 10px;
    }
    .myResume-Contact-Info h1{
        font-size:60px;
        padding-left:10%;
    }
    .myResume-Contact-Info > h3 { 
        font-size:18px;
        padding-left:10%;
    }
    .myResume-Contact-Info > h6 { 
        font-size:15px;
        padding-left:10%;
    }
    .myResume-Contact-Info {
        width:90%;
        font-size:60%;
        text-align:center;
    }
    .myResume-Profile-Pic{
        width:90%;
        margin:auto 6%;
    }
    .myResume-Profile-Pic img{
        width:70%;
        margin:auto 15%;  
    }

    h1.title{
        font-size: 25px;
        background-color:#00BFFF;
        padding:5px 0px 5px 0px;
        border-radius:0px;
        width:100%;
        margin-bottom:10px;
        position:relative;
        left:-35px;
        text-align:center;  
    }
    .myResume-Profile-Intro{
        width:90%;  
        text-align:justify;
        font-size: 20px;
        padding-left:18px;  
    }
    .myResume-Skills{
        width:90%;
        font-size: 15px;
        padding-left:18px;      
    }
    .myResume-Education{ 
        width:90%;
        font-size: 18px;
        padding-left:18px;          
    }  
    .myResume-Experience{
        width:90%;
        font-size: 18px;
        padding-left:18px;              
    }   
}

@media only screen and (max-width: 480px) {
    .myResume{
        width:90%;
        font-family: "Balthazar", "Droid Serif", serif; 
        color: #565656; 
        padding: 10px;
    }
    .myResume-Contact-Info h1{
        font-size:40px;
        padding-left:10%;
    }
    .myResume-Contact-Info > h3 { 
        font-size:13px;
        padding-left:10%;
    }
    .myResume-Contact-Info > h6 { 
        font-size:13px;
        padding-left:10%;
    }
    .myResume-Contact-Info {
        width:90%;
        font-size:60%;
        text-align:center;
    }
    .myResume-Profile-Pic{
        width:90%;
    }
    .myResume-Profile-Pic img{
        width:80%;
        margin:auto 10%;  
    }

    h1.title{
        font-size: 25px;
        background-color:#00BFFF;
        padding:5px 0px 5px 0px;
        border-radius:10px;
        width:122.0%;
        margin-bottom:10px;
        position:relative;
        left:-32px;
        text-align:center;  
    }
    .myResume-Profile-Intro{
        width:90%;  
        text-align:justify;
        font-size: 20px;
        padding-left:18px;  
    }
    .myResume-Skills{
        width:90%;
        font-size: 18px;
        padding-left:18px;      
    }
    .myResume-Education{ 
        width:90%;
        font-size: 18px;
        padding-left:18px;          
    }  
    .myResume-Experience{
        width:90%;
        font-size: 18px;
        padding-left:18px;              
    }  

}

@media only screen and (max-width: 320px) {
    .myResume{
        background: #fff; 
        width:80%;
        font-family: "Balthazar", "Droid Serif", serif; 
        color: #565656; 
        margin: auto; 
        padding: 0px 10px 10px 45px;
    }
    .myResume-Contact-Info h1{
        font-size:30px;
    }
    .myResume-Contact-Info > h3 { 
        font-size:12px;
    }
    .myResume-Contact-Info > h6 { 
        font-size:12px;
    }
    .myResume-Contact-Info {
        width:90%;
        font-size:60%;
        text-align:center;
        margin-left:-15px;
    }
    .myResume-Profile-Pic{
        width:90%;
        margin:auto 0%;    
    }
    .myResume-Profile-Pic img{
        width:80%;
    }

    h1.title{
        font-size: 20px;
        background-color:#00BFFF;
        padding:5px 0px 5px 0px;
        border-radius:0px 0px 0px 0px;
        width:146%;
        margin-bottom:10px;
        position:relative;
        left:-41px;
        text-align:center;  
    }
    .myResume-Profile-Intro{
        width:90%;
        text-align:justify;
        margin-top:50px;
        font-size: 18px;
        margin-left:-25px;  
    }
    .myResume-Skills{
        width:90%;
        font-size: 15px; 
        margin-left:-25px;   
    }
    .myResume-Education{ 
        width:90%;
        font-size: 15px;
        margin-left:-25px;   
    }  
    .myResume-Experience{
        width:90%;
        font-size: 15px;
        margin-left:-25px;   
    }  
}
